@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #235789;
    --secondary-color: #A5C4D4;
    --accent1-color: #5C7457;
    --accent2-color: #51291E;

    --heading-font: 'Bangers', serif;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #A5C4D4;
    --nav-link-color: #235789;
    --nav-hover-link-color: #A5C4D4;
    --nav-hover-background-color: #235789;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 5px; 
    margin-bottom: 20px;
}

header img {
    margin: 5px;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
}

nav {
    text-align: center;  
}

body {
    max-width: 1000px;
    margin: 2rem auto;
}

h1 {
    font-family: var(--heading-font);
    letter-spacing: 2px;
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    letter-spacing: 2px;
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    padding: 10px;
    clear: both;
}

footer p {
    text-align: center;
    grid-column: 1/5;
    color: var(--accent1-color);
}

footer img {
    width: 40px;
    height: 40px;
    grid-column: 5/6;
}

.wireframe {
    grid-column: 2/5;
    text-align: center;
    font-size: 20px;
}

.wireframe a {
    color: var(--primary-color);
}

.wireframe a:hover {
    color: var(--accent2-color);
}

.navigation {
    display: flex;
}

.navigation a {
    display: block;
    flex: 1 1 100%;
    font-family: var(--heading-font);
    letter-spacing: 2px;
    font-size: 2rem;
    color: var(--nav-link-color);
}

header nav a:hover {
    color: var(--nav-hover-link-color);    
}

.sociallinks {
    text-decoration: none;
}

.hero {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.hero img {
    grid-column: 1/1;
    grid-row: 1/4;
    width: 1000px;
    height: auto;
    z-index: 0;
    border-radius: 20px;
}

.hero h1 {
    font-family: var(--heading-font);
    letter-spacing: 6px;
    color: var(--secondary-color);    
    top: 15%;
    left: 18%;
    font-size: 90px;
    grid-row: 1/2;
    grid-column: 1/1;
    z-index: 1;
}

.hero p {
    color: white;  
}

.hero article {
    box-sizing: border-box;
    width: 1000px;    
    padding: 5px;
    grid-row: 2/3;
    grid-column: 1/2;
    top: 40%;
    text-align: center;
    background-color: var(--primary-color);
    opacity: 100%;
    z-index: 1;
}

.hero article img {
    float: right;
    width: 30%;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    justify-items: center;
    border: 5px solid var(--primary-color);
    margin: 5px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.history h2 {
    text-align: center;
    font-size: 2rem;
}

.history p {
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: start;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 5rem;
}

.adventure figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 150px;
    margin: auto;    
}

.adventure img {
    border-radius: 10px;
}

.adventure figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
    padding: 10px;
    color: var(--accent1-color);
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    background-color: var(--accent1-color);
    margin-bottom: 2em;
}

.contact {
    display: grid;    
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    gap: 5px;    
    margin: 20px;
    height: 400px;
    width: 400px;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    background-color: white;
}

.contact h1, h2, p {
    padding: 0 0 0 .5em;
}

.contact h1, .form h1 {
    font-size: 2em;
    letter-spacing: 3px;
}

.contact h2 {
    font-size: 1.3em;
    letter-spacing: 3px;
}

.contact p {
    font-size: 1.3em;
    margin: .1em;
    letter-spacing: 0px;
    font-weight: bold;
}

.address {
    margin: 0px 0px 20px 0px;
}

.map {
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
}

form {
    display: grid;        
    background-color: var(--primary-color);
    border-radius: 5px;
}

fieldset {
    margin: 20px 20px 5px 20px;    
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

label {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    font-weight: bold;
}

form h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0px;
}

.form-item {
    display: grid;
    align-items: center;
}

.row1, .row2 {
    grid-template-rows: 2fr 1fr;
}

.row3 {
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.row3 h2 {
    padding: 0px;
    margin: 20px 0px 5px 0px;
}

.row4 {
    grid-template-rows: .5fr 1fr; 
}

.row5 {
    grid-template-columns: .1fr 2fr;
    margin-top: 1em;
}

button {
    grid-row: 2/3;
    width: 200px;
    margin: 2px 20px 15px 20px;
    padding: 5px;
    font-size: 1.5em; 
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color);
}

input, textarea, select {
    padding: .3em;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.employees figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
}

.employees img {
    border-radius: 10px;
}

.employees figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
    padding: 10px;
    color: var(--accent1-color);
    font-size: 15px;
    font-style: italic;
}

.book {
    display: grid;    
    justify-items: center;
    align-items: center;
    text-align: center;
}

.book .trips-hero {
    font-size: 90px;
    grid-row: 1/1;
    grid-column: 1/2;
    width: 900px;    
    background-color: var(--nav-background-color); 
    border-radius: 100px;   
}

.book h1 {
    margin: 10px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 2px var(--accent2-color);
}

.book img {
    width: 1000px;
    height: auto;
    grid-row: 1/1;
    grid-column: 1/2;
    border-radius: 20px;
}

.book-info {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 40px;
}

.book-info p {
    font-size: large;
    font-weight: 500;    
}

.book-info button {
    width: 300px;
    height: 75px;
    font-family: var(--heading-font);
    font-size: 30px;
}

.book-info button:hover {
    font-size: 35px;
}

aside {
    display: grid;
    float: left;
    text-align: center;
    width: 400px;
    justify-items: center;
    margin-top: 85px;
}

.trip1, .trip2, .trip3 {
    display: grid;
    justify-items: center;
}

aside img {
    width: 300px;
    border-radius: 5px;
    grid-row: 1/1;
    grid-column: 1/2;    
}

aside h2 {
    padding: 0px;
    margin: 5px 0px 50px 0px;
    font-size: 20px;
}

aside p {
    color: var(--secondary-color);
    grid-row: 1/1;
    grid-column: 1/2;
    width: 290px;
    align-self: center;
    justify-self: center;
    opacity: 0;     
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 0px;
    border-radius: 10px;
}

aside p:hover {
    opacity: 5;
    background-color: var(--accent2-color);
    width: 290px; 
    box-shadow: 0 0 10px var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);   
}

.reservations {    
    float: right;
    width: 600px;
}

.reservations h2 {
    text-align: center;
    font-size: 35px;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    letter-spacing: 3px;
}

table {
    border-collapse: collapse;
    text-align: center;      
}

table, th, td {
    border: 3px groove var(--secondary-color);
  }

th {
    font-family: var(--heading-font);
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

th, td {
    padding: 10px;
}

td {
    font-family: var(--paragraph-font);
}

.heading {
    display:grid;
    grid-template-rows: 4fr .5fr;
    grid-template-columns: 1.8fr 1.5fr 2fr 1fr;   
}

.heading img {
    grid-row: 1/3;
    grid-column: 1/4;
    z-index: 0;
    width: 1000px;
}

.heading h1, .heading h2 {
    z-index: 1;
    align-self: end;
    background-color: var(--secondary-color);
    letter-spacing: 3px;
    justify-self: center;
}

.heading h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 10px 30px;
    font-size: 30px;
    margin-left: 5px;
}

.heading h2 {
    grid-row: 2/3;
    grid-column: 1/3;
    padding-left: 30px;
    padding: 10px 30px;    
    margin-top: 0px;
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr 2fr .3fr .5fr;
}

.intro h2 {
    font-size: 30px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.intro h2, .intro button {
    align-self: center;
    justify-self: center;
}

.newsletter {
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid var(--primary-color);
    margin: 5px 20px;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-rows: 1fr 4fr;
    height: 100px;
    background-color: var(--secondary-color);
}

.newsletter label {
    font-size: 30px;
    margin: 8px 20px;
    align-self: end;  
}

.newsletter input {
    width: 230px;
    margin-left: 20px;
    font-family: var(--paragraph-font);
    height: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.intro p {
    grid-row: 1/4;
    padding: 5px;
    font-size: 15px;
}

.intro button {
    grid-column: 2/3;
    grid-row: 3/4;    
    width: 200px;
    font-family: var(--heading-font);
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--primary-color);
}

.intro a {
    font-family: var(--heading-font);
    font-size: 50px;
    letter-spacing: 2px;
}

.intro a:visited {
    color: var(--primary-color);
}

.intro a:hover {
    color: var(--nav-hover-link-color);
}

.info {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.why, .who {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-items: center;
    justify-items: center;
}

.who h2, img, .why p {
    grid-column: 2/3;
}

.who img, .why img {    
    width: 450px;
    border-radius: 20px;
}

.who p, .why img {
    grid-column: 1/2;
}

.why p, .who p {
    font-size: 18px;
    margin: 10px;
}

.why h2, .who h2 {
    font-size: 30px;
    padding: 0px;
    margin: 10px;
}

.why h2 {
    color: var(--accent1-color)
}

.who h2 {
    color: var(--accent2-color)
}

.who p {
    grid-row: 2/3;
}
