@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #235789;
    --secondary-color: #A5C4D4;
    --accent1-color: #5C7457;
    --accent2-color: #51291E;

    --heading-font: 'Bangers', serif;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #A5C4D4;
    --nav-link-color: #235789;
    --nav-hover-link-color: #A5C4D4;
    --nav-hover-background-color: #235789;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 10px;
    background-color: var(--secondary-color);
}

p {
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

